<div class="search-box">
    <input type="text" [(ngModel)]="searchQuery"
        [placeholder]="translate('generator.input.placeholder')" [disabled]="isLoading()">

    <button (click)="generateRecipe()" [disabled]="isLoading() || !searchQuery()">
        {{ isLoading() ? translate('generator.btn.generating') : translate('generator.btn.create') }}
    </button>
</div>


@if (isLoading()) {
<div class="loading">
    <div class="loader-spinner"></div>
    <p>{{ translate('generator.loading') }}</p>
</div>
}

@let current = currentRecipe();

@if (!isLoading() && current) {
<app-card [recipe]="current">
    @if (revisionsLeft() > 0 && !isSaved()) {
    <div class="refine-box">
        <p>{{ translate('generator.edits.remaining') }}<strong>{{ revisionsLeft() }}</strong></p>

        <div class="refine-input-group">
            <input type="text" [(ngModel)]="refinementQuery"
                [placeholder]="translate('generator.input.refine.placeholder')">

            <button (click)="refineRecipe()" [disabled]="!refinementQuery()">{{ translate('generator.btn.refine') }}</button>
        </div>
    </div>
    }

    <div class="actions">
        <button class="save-btn" (click)="saveRecipe()" [disabled]="isSaved()">
            {{ isSaved() ? translate('generator.btn.saved') : translate('generator.btn.save') }}
        </button>
    </div>
</app-card>
}