@let current = recipe();

<div class="recipe-card">
    <h2>{{ current.title }}</h2>

    <p class="description">{{ current.description }}</p>

    <div class="meta-info">
        <span class="badge time">⏱ {{ current.prep_time_minutes }} мин</span>

        <span class="badge calories">🔥 {{ current.macros.calories }} ккал</span>
    </div>

    <div class="macros-box">
        <div><strong>Protein:</strong> {{ current.macros.protein_g }}g</div>

        <div><strong>Fat:</strong> {{ current.macros.fat_g }}g</div>

        <div><strong>Carbs:</strong> {{ current.macros.carbs_g }}g</div>
    </div>

    <div class="recipe-content">
        <div class="column">
            <h3>🛒 Ingredients</h3>
            <ul>
                @for (item of current.ingredients; track $index) {
                <li>
                    <strong>{{ item.name }}</strong> — {{ item.amount }}
                </li>
                }
            </ul>

            <h3>🔄 Substitutions</h3>
            <ul class="substitutions">

                @for (sub of current.substitutions; track $index) {
                <li>{{ sub }}</li>
                }
            </ul>
        </div>

        <div class="column">
            <h3>👨‍🍳 How to cook</h3>
            <ol>
                @for (step of current.steps; track $index) {
                <li>{{ step }}</li>
                }
            </ol>
        </div>
    </div>

    <ng-content></ng-content>
</div>