@let cat = catalog();
@if (cat.length > 0) {
<div class="catalog-section">
    <h3>Recipes from database:</h3>
    <div class="catalog-tags">

        @for (group of cat; track $index) {
        <div class="catalog-group">
            <h4 class="group-title">{{ group.groupName }}</h4>
            <div class="catalog-tags">
                @for (recipeName of group.values; track $index) {
                <button class="catalog-tag" (click)="selectRecipe(recipeName)">
                    {{ recipeName }}
                </button>
                }
            </div>
        </div>
        }
    </div>
</div>
}